{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <h2 class="text-center">Actualizar Pedido</h2>

    <form class="" action="/procesarActualizacionPedido/" method="post">
      {% csrf_token %}
      <b>Seleccione el cliente</b>
      <select class="form-control" name="id_cliente" id="id_cliente" required>
        <option value="">--Seleccione el pais--</option>
        {% for cliente in clientes %}
        <option value="{{cliente.id_ac}}">{{cliente.nombre_ac}}</option>
        {% endfor %}
    </select>


    <script type="text/javascript">
        document.getElementById('id_cliente').value="{{pedido.cliente_ac.id_ac}}"
    </script>


    <br>
    <input type="hidden" name="id_ac"  value="{{pedido.id_ac}}">
    <b>Fecha</b>
    <input type="date" name="fecha_pedido_ac" id="fecha_pedido_ac"
    value="{{pedido.fecha_pedido_ac|date:'Y-m-d'}}" placeholder="Ingrese la fecha del pedido"
    class="form-control" required>
    <br>
    <b>Total</b>
    <input type="number" name="total_ac" id="total_ac"
        value="{{pedido.total_ac}}" placeholder="Ingrese el total"
        class="form-control" required>
    <br>
    <b>Observaciones</b>
    <input type="text" name="observaciones_ac" id="observaciones_ac"
        value="{{pedido.observaciones_ac}}" placeholder="Ingrese las observaciones"
        class="form-control" required>
    <br>
    <b>Descripcion</b>
    <input type="text" name="nombre_ac" id="nombre_ac"
        value="{{pedido.nombre_ac}}" placeholder="Ingrese la descripcion"
        class="form-control" required>
    <br>


      <center>
        <button type="submit" name="button"
        class="btn btn-success">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
