{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <h2 class="text-center">Actualizar Platillo</h2>

    <form class="" action="/procesarActualizacionPlatillo/" method="post">
      {% csrf_token %}
      <label for="id_receta"><b>Seleccione la Tipo</b></label>
      <select class="form-control" name="id_tipo" id="id_tipo" required>
        <option value="">--Seleccione la provincia--</option>
        {% for tipo in tipos %}
          <option value="{{ tipo.id_ac }}">{{ tipo.nombre_ac }}</option>
        {% endfor %}
      </select>

      <script type="text/javascript">
          document.getElementById('id_tipo').value="{{platillo.tipo_ac.id_ac}}"
      </script>
      <input type="hidden" name="id_ac"  value="{{platillo.id_ac}}">
      <b>Nombre</b>
<input type="text" name="nombre_ac" id="nombre_ac"
    value="{{platillo.nombre_ac}}" placeholder="Ingrese el nombre"
    class="form-control" required>
<br>

<b>Descripcion</b>
<input type="text" name="descripcion_ac" id="descripcion_ac"
    value="{{platillo.descripcion_ac}}" placeholder="Ingrese la descripcion_ac"
    class="form-control" required>
<br>
<b>Calorias</b>
<input type="number" name="calorias_ac" id="calorias_ac"
    value="{{platillo.calorias_ac}}" placeholder="Ingrese las calorias "
    class="form-control" required>
<br>
<b>INGRESE LA IMAGEN</b>
<input type="text" name="fotografia_ac" id="fotografia_ac"
value="{{platillo.fotografia_ac}}" placeholder="Ingrese la fotografia"
class="form-control" required>
<br>


      <center>
        <button type="submit" name="button"
        class="btn btn-success">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
