{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <h2 class="text-center">Actualizar Detalle</h2>

    <form class="" action="/procesarActualizacionDetalle/" method="post">
      {% csrf_token %}

      <b>Seleccione el platillo</b>
      <select class="form-control" name="id_platillo" id="id_platillo" required>
        <option value="">--Seleccione el platillo  --</option>
        {% for platillo in platillos %}
        <option value="{{platillo.id_ac}}">{{platillo.nombre_ac}}  </option>
        {% endfor %}
      </select>
      <b>Seleccione el pedido</b>
      <select class="form-control" name="id_pedido" id="id_pedido" required>
        <option value="">--Seleccione el pedido  --</option>
        {% for pedido in pedidos %}
        <option value="{{pedido.id_ac}}">
          {{pedido.fecha_pedido_ac}}-{{pedido.observaciones_ac}}-{{pedido.cliente_ac.nombre_ac}}
        </option>
        {% endfor %}
      </select>

      <!-- Scripts para preseleccionar valores -->
      <script type="text/javascript">
        document.getElementById('id_platillo').value = "{{ detalle.platillo_ac.id_ac }}";
        document.getElementById('id_pedido').value = "{{ detalle.pedido_ac.id_ac }}";
      </script>

      <!-- Otros campos del formulario -->
      <br>
      <input type="hidden" name="id_ac" value="{{detalle.id_ac}}">

      <b>Cantidad </b>
      <input type="number" name="cantidad_ac" id="cantidad_ac"
      value="{{detalle.cantidad_ac}}" placeholder="Ingrese la cantidad "
      class="form-control" required>
      <br>

      <b>Precio unitario</b>
      <input type="number" name="precio_unitario_ac" id="precio_unitario_ac"
        value="{{ detalle.precio_unitario_ac }}" placeholder="Ingrese el precio unitario"
        class="form-control" required>

      <br>
      <b>Subtotal</b>
      <input type="number" name="subtotal_ac" id="subtotal_ac"
        value="{{ detalle.subtotal_ac }}" placeholder="Ingrese el subtotal"
        class="form-control" required>

      <br>
      <b>Comentarios</b>
      <input type="text" name="comentarios_ac" id="comentarios_ac"
        value="{{ detalle.comentarios_ac }}" placeholder="Ingrese un comentario"
        class="form-control" required>

      <br>

      <!-- Botones del formulario -->
      <center>
        <button type="submit" name="button" class="btn btn-success">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
