{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <h2 class="text-center">Actualizar Provincia</h2>

    <form class="" action="/procesarActualizacionProvincia/" method="post">
      {% csrf_token %}
      <input type="hidden" name="id_ac"  value="{{provincia.id_ac}}">

  <b>Nomnbre</b>
  <input type="text" name="nombre_ac" id="nombre_ac" value="{{provincia.nombre_ac}}" placeholder="Ingrese el Nombre" class="form-control" required>
  <br>
  <b>Descripcion</b>
  <input type="text" name="descripcion_ac" id="descripcion_ac"
      value="{{provincia.descripcion_ac}}" placeholder="Ingrese la Descripción"
      class="form-control" required>
  <br>
  <b>Capital</b>
  <input type="text" name="capital_ac" id="capital_ac"
      value="{{provincia.capital_ac}}" placeholder="Ingrese la Capital"
      class="form-control" required>
  <br>
  <b>Region</b>
  <input type="text" name="region_ac" id="region_ac"
      value="{{provincia.region_ac}}" placeholder="Ingrese la region"
      class="form-control" required>
  <br>





  <
  <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-success">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
