{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br>
    <h2 class="text-center">Actualizar Receta</h2>
    <form action="/procesarActualizacionReceta/" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="id_platillo">Seleccione el Platillo</label>
        <select class="form-control" name="id_platillo" id="id_platillo" required>
          <option value="">-- Seleccione el platillo --</option>
          {% for platillo in platillos %}
          <option value="{{ platillo.id_ac }}">{{ platillo.nombre_ac }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="id_ingrediente">Seleccione el Ingrediente</label>
        <select class="form-control" name="id_ingrediente" id="id_ingrediente" required>
          <option value="">-- Seleccione el ingrediente --</option>
          {% for ingrediente in ingredientes %}
          <option value="{{ ingrediente.id_ac }}">{{ ingrediente.nombre_ac }} - {{ ingrediente.fecha_expedicion_ac }}</option>
          {% endfor %}
        </select>
      </div>

      <script type="text/javascript">
        document.getElementById('id_platillo').value = "{{ receta.platillo_ac.id_ac }}";
      </script>

      <script type="text/javascript">
        document.getElementById('id_ingrediente').value = "{{ receta.ingrediente_ac.id_ac }}";
      </script>

      <div class="form-group">
        <label for="pasos_preparacion_ac">Paso para la Preparación</label>
        <input type="text" name="pasos_preparacion_ac" id="pasos_preparacion_ac" value="{{ receta.pasos_preparacion_ac }}" placeholder="Ingrese los pasos de preparación" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="tiempo_preparacion_ac">Tiempo de Preparación</label>
        <input type="text" name="tiempo_preparacion_ac" id="tiempo_preparacion_ac" value="{{ receta.tiempo_preparacion_ac }}" placeholder="Ingrese el tiempo de preparación" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="porciones_ac">Porciones</label>
        <input type="text" name="porciones_ac" id="porciones_ac" value="{{ receta.porciones_ac }}" placeholder="Ingrese las porciones" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="fecha_creacion_ac">Fecha de Creación</label>
        <input type="date" name="fecha_creacion_ac" value="{{ receta.fecha_creacion_ac|date:'Y-m-d' }}" class="form-control" placeholder="Ingrese la fecha de creación" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success">Actualizar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
