{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h2 class="text-center">Actualizar CLiente</h2>
    <form class="" action="/procesarActualizacionCliente/" method="post">
      {% csrf_token %}

      <label for="id_provincia"><strong>SELECCIONE LA PROVINCIA</strong></label>
      <select class="form-control" name="id_provincia" id="id_provincia" required>
        <option value="">--Seleccione la provincia--</option>
        {% for provincia in provincias %}
          <option value="{{provincia.id_ac}}" {% if cliente.provincia_ac.id_ac == provincia.id_ac %}selected{% endif %}>
            {{provincia.nombre_ac}}
          </option>
        {% endfor %}
      </select>

      <!-- Scripts para preseleccionar valores -->
      <script type="text/javascript">
        document.getElementById('id_provincia').value = "{{ cliente.provincia_ac.id_ac }}";
      </script>

      <!-- Otros campos del formulario -->
      <br>
      <input type="hidden" name="id_ac" value="{{ cliente.id_ac }}">
      <label for="nombre_ac"><strong>Nombre</strong></label>
      <input type="text" name="nombre_ac" id="nombre_ac" value="{{ cliente.nombre_ac }}" placeholder="Ingrese la nombre_ac" class="form-control" required>

      <label for="correo_ac"><strong>Correo</strong></label>
      <br>
      <input type="email" name="correo_ac" id="correo_ac" value="{{ cliente.correo_ac }}" placeholder="Ingrese su correo" class="form-control" required>

      <br>
      <label for="direccion_ac"><strong>Direccion</strong></label>
      <input type="text" name="direccion_ac" id="direccion_ac" value="{{ cliente.direccion_ac }}" placeholder="Ingrese la direccion_ac" class="form-control" required>

      <br>
      <strong>Telefono</strong>
      <input type="number" name="telefono_ac" id="telefono_ac" value="{{ cliente.telefono_ac }}" placeholder="Ingrese el telefono" class="form-control" required>

      <br>

      <!-- Botones del formulario -->
      <center>
        <button type="submit" name="button"
        class="btn btn-success">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
