{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <h2 class="text-center">Actualizar Ingrediente</h2>

    <form class="" action="/procesarActualizacionIngrediente/" method="post" id="frm_nuevo_provincia" >
      {% csrf_token %}

      <input type="hidden" name="id_ac"  value="{{ingrediente.id_ac}}">
      <b>Nombre</b>
      <input type="text" name="nombre_ac" id="nombre_ac"
      value="{{ingrediente.nombre_ac}}" placeholder="Ingrese el nombre del ingrediente"
      class="form-control" required>
      <b>Descripcion</b>
      <br>
      <input type="CharField" name="descripcion_ac" id="descripcion_ac"
      value="{{ingrediente.descripcion_ac}}" placeholder="Ingrese la descripcion"
      class="form-control" required>
      <br>

      <b>Fecha de Caducidad</b>
      <input type="date" name="fecha_expedicion_ac" id="fecha_expedicion_ac"
      value="{{ingrediente.fecha_expedicion_ac|date:'Y-m-d'}}" placeholder="Ingrese la fecha "
      class="form-control" required>
      <br>
      <b>INGRESE LA IMAGEN</b>
      <input type="text" name="fotografia_ac" id="fotografia_ac"
      value="{{ingrediente.fotografia_ac}}" placeholder="Ingrese la fotografia"
      class="form-control" required>
      <br>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-success">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
