{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionTipo/" method="post">
      {% csrf_token %}
      <input type="hidden" name="id_ac" value="{{tipo.id_ac}}">

      <b>Nombre </b><input type="text" name="nombre_ac" id="nombre_ac"
          value="{{tipo.nombre_ac}}" placeholder="Ingrese el nombre"
          class="form-control" required>
      <br>

      <b>Descripción </b><input type="text" name="descripcion_ac" id="descripcion_ac"
          value="{{tipo.descripcion_ac}}" placeholder="Ingrese la descripcion"
          class="form-control" required>
      <br>

      <b>Fecha de Creacion </b><input type="date" name="fecha_creacion_ac" id="fecha_creacion_ac"
          value="{{tipo.fecha_creacion_ac|date:'Y-m-d'}}" placeholder="Ingrese la fecha de creacion"
          class="form-control" required>
      <br>

      <b>Imagen</b>
      <input type="text" name="fotografia_ac" id="fotografia_ac"
          value="{{tipo.fotografia_ac}}" placeholder="Ingrese la fotografia"
          class="form-control" required>
      <br>

      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-success">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
