{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<style>
  .centrar-texto {
    text-align: center;
  }

  .form-container {
    background-color: #008080; /* Color teal */
    padding: 20px;
    border-radius: 10px;
  }

  .btn-container {
    margin-top: 20px;
    text-align: center;
  }

  .table-container {
    margin-top: 30px;
  }

  .image-preview {
    max-height: 50px;
  }
  table{
    border:3px solid blue !important;
  }
  label.error{
    color:red;
    font-weight: bold;
  }
  .imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece el contenedor al 100% de la altura visible */
  }

  /* Estilo para la imagen */
  .imagen {
    max-width: 100%; /* Hace que la imagen sea responsiva y no sobrepase su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }

  /* Ajusta el margen alrededor de la imagen si es necesario */
  /* .imagen-container {
    margin: 10px;
  } */
</style>

<h1 class="centrar-texto">LISTADO DE RECETA</h1>

<div class="row">
  <div class="col-md-5 form-container">
    <form action="/guardarReceta/" method="post" enctype="multipart/form-data" id="frm_nuevo_receta">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_ingrediente" class="form-label">SELECCIONE EL INGREDIENTE</label>
        <select class="form-control" name="id_ingrediente" required>
          <option value="">--SELECCIONE EL INGREDIENTE--</option>
          {% for ingrediente in ingredientes %}
          <option value="{{ ingrediente.id_ac }}">
            {{ ingrediente.nombre_ac }} - {{ ingrediente.descripcion_ac }} - {{ ingrediente.fecha_expedicion_ac }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="id_platillo" class="form-label">SELECCIONE EL PLATILLO</label>
        <select class="form-control" name="id_platillo" required>
          <option value="">--SELECCIONE EL PLATILLO--</option>
          {% for platillo in platillos %}
          <option value="{{ platillo.id_ac }}">
            {{ platillo.nombre_ac }} - {{ platillo.calorias_ac }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="pasos_preparacion_ac" class="form-label">Pasos preparación</label>
        <input type="text" name="pasos_preparacion_ac" id="pasos_preparacion_ac" class="form-control" placeholder="Ingrese los pasos de preparación" required>
      </div>

      <div class="mb-3">
        <label for="tiempo_preparacion_ac" class="form-label">Tiempo de preparación</label>
        <input type="number" name="tiempo_preparacion_ac" id="tiempo_preparacion_ac" placeholder="Ingrese el tiempo de preparación" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="porciones_ac" class="form-label">Porciones</label>
        <input type="text" name="porciones_ac" id="porciones_ac" class="form-control" placeholder="Ingrese las porciones" required>
      </div>

      <div class="mb-3">
        <label for="fecha_creacion_ac" class="form-label">Fecha de creación</label>
        <input type="date" name="fecha_creacion_ac" id="fecha_creacion_ac" class="form-control" placeholder="Ingrese la fecha de creación" required>
      </div>

      <div class="btn-container">
        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="col-md-7 table-container">
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <img class="imagen img-fluid" src="{% static 'img/rece.png' %}" alt="" style="max-width: 800px; height: auto;">
    </div>
    <br>
    <table class="table" id="tbl_recetas">
      <thead>
        <tr>
          <th>ID</th>
          <th>PASOS DE PREPARACION</th>
          <th>TIEMPO</th>
          <th>PORCIONES</th>
          <th>FECHA CREACION</th>
          <th>INGREDIENTE</th>
          <th>PLATILLO</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        {% for receta in recetas %}
        <tr>
          <td>{{ receta.id_ac }}</td>
          <td>{{ receta.pasos_preparacion_ac }}</td>
          <td>{{ receta.tiempo_preparacion_ac }}</td>
          <td>{{ receta.porciones_ac }}</td>
          <td>{{ receta.fecha_creacion_ac }}</td>
          <td>{{ receta.ingrediente_ac.nombre_ac }}</td>
          <td>{{ receta.platillo_ac.nombre_ac }}</td>
          <td>
            <a href="/editarReceta/{{ receta.id_ac }}" class="btn btn-warning">Editar</a>
            <a href="javascript:void(0)" onclick="eliminarReceta('/eliminarReceta/{{ receta.id_ac }}');" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  function eliminarReceta(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar la receta seleccionada?',
      position: 'center',
      buttons: [
        ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href = url;
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }
</script>
<script type="text/javascript">

  $("#frm_nuevo_receta").validate({
    rules: {
      "id_ingrediente": {
        required: true,

      },
      "id_platillo": {
        required: true
      },
      "pasos_preparacion_ac": {
        required: true
      },
      "tiempo_preparacion_ac": {
        required: true,
        digits: true,
        min: 1 // Asegura que el tiempo de preparación sea un número positivo
      },
      "porciones_ac": {
        required: true,
        digits: true,
        min: 1 // Asegura que las porciones sean un número positivo
      },
      "fecha_creacion_ac": {
        required: true,
        date: true
      }
    },
    messages: {
      "id_ingrediente": {
        required: "Por favor, seleccione el ingrediente"
      },
      "id_platillo": {
        required: "Por favor, seleccione el platillo"
      },
      "pasos_preparacion_ac": {
        required: "Debe ingresar los pasos de preparación de la receta"
      },
      "tiempo_preparacion_ac": {
        required: "Debe ingresar el tiempo de preparación de la receta",
        digits: "Ingrese solo números para el tiempo de preparación",
        min: "El tiempo de preparación debe ser mayor a 0"
      },
      "porciones_ac": {
        required: "Debe ingresar las porciones",
        digits: "Ingrese solo números para las porciones",
        min: "Las porciones deben ser mayores a 0"
      },
      "fecha_creacion_ac": {
        required: "Debe ingresar la fecha de la receta",
        date: "Ingrese una fecha válida"
      }
    }
  });
</script>


    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_recetas').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE RECETAS - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>


{% endblock %}
