{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<style>
  .centrar-texto {
    text-align: center;
  }

  .form-container {
    background-color: #008080; /* Color teal */
    padding: 20px;
    border-radius: 10px;
  }

  .btn-container {
    margin-top: 20px;
    text-align: center;
  }

  .table-container {
    margin-top: 30px;
  }

  .image-preview {
    max-height: 50px;
  }
  table{
    border:3px solid blue !important;
  }
  label.error{
    color:red;
    font-weight: bold;
  }
  .imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece el contenedor al 100% de la altura visible */
  }

  /* Estilo para la imagen */
  .imagen {
    max-width: 100%; /* Hace que la imagen sea responsiva y no sobrepase su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }

  /* Ajusta el margen alrededor de la imagen si es necesario */
  /* .imagen-container {
    margin: 10px;
  } */
</style>

<h1 class="centrar-texto">LISTADO DE INGREDIENTES</h1>
<br>
<div class="row">
  <div class="col-md-5 form-container">
    <form action="/guardarIngrediente/" method="post" enctype="multipart/form-data" id="frm_nuevo_ingrediente">
      {% csrf_token %}
      <div class="mb-3">
        <label for="nombre_ac" class="form-label">Nombre</label>
        <input type="text" name="nombre_ac" value="" id="nombre_ac" placeholder="Ingrese el nombre" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="descripcion_ac" class="form-label">Descripcion:</label>
        <input type="text" name="descripcion_ac" value="" id="descripcion_ac" placeholder="Ingrese la descripcion" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="fecha_expedicion_ac" class="form-label">Fecha de Caducidad:</label>
        <input type="date" name="fecha_expedicion_ac" value="" class="form-control" placeholder="Ingrese la fecha de caducidad " required>
      </div>
      <div class="mb-3">
        <label for="fotografia_ac" class="form-label">Fotografía</label>
        <input type="file" name="fotografia_ac" accept="image/*" id="fotografia_ac" class="form-control">
      </div>
      <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </center>
    </form>
  </div>
  <div class="col-md-7 table-container">
    <div class="d-flex justify-content-center align-items-center">
      <img class="imagen img-fluid" src="{% static 'img/ingre.png' %}" alt="" style="max-width: 800px; height: auto;">
    </div>
    <br>
    <table class="table" id="tbl_ingredientes">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>DESCRIPCION</th>
          <th>FECHA DE CADUCIDAD</th>
          <th>FOTOGRAFIA</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        {% for ingrediente in ingredientes %}
          <tr>
            <td>{{ ingrediente.id_ac }}</td>
            <td>{{ ingrediente.nombre_ac }}</td>
            <td>{{ ingrediente.descripcion_ac }}</td>
            <td>{{ ingrediente.fecha_expedicion_ac }}</td>
            <td>{% if ingrediente.fotografia_ac %}
              <a href="{{ingrediente.fotografia_ac.url}}" target="_blank">
                <img src="{{ingrediente.fotografia_ac.url}}" alt="" height="50px"></a>
              {% else %}
              <b>N/A</b>
              {% endif %}
            </td>
            <td>
              <a href="/editarIngrediente/{{ingrediente.id_ac}}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)" onclick="eliminarIngrediente('/eliminarIngrediente/{{ingrediente.id_ac}}');" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  function eliminarIngrediente(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el ingrediente seleccionado?',
      position: 'center',
      buttons: [
        ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href = url;
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }
</script>
<script type="text/javascript">
  $.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
  }, "Ingrese solo letras en este campo");

  $("#frm_nuevo_ingrediente").validate({
    rules: {
      "nombre_ac": {
        required: true,
        lettersonly: true

      },
      "descripcion_ac": {
        required: true,
        lettersonly: true

      },
      "fecha_expedicion_ac": {
        required: true,
        date: true
      },
      "fotografia_ac": {
        required: true
      }
    },
    messages: {
      "nombre_ac": {
        required: "Debe ingresar el nombre del ingrediente",
        lettersonly: "Ingrese solo letras"

      },
      "descripcion_ac": {
        required: "Debe ingresar la descripción del ingrediente",
        lettersonly: "Ingrese solo letras"
      },
      "fecha_expedicion_ac": {
        required: "Debe ingresar la fecha de expedición del ingrediente",
        date: "Ingrese una fecha válida"
      },
      "fotografia_ac": {
        required: "Seleccione la fotografía del ingrediente"
      }
    }
  });
</script>

<script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_ingredientes').DataTable( {
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
        },
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'pdfHtml5',
                  messageTop: 'REPORTE DE INGREDIENTES - DJANGO Y DATATABLES.'
              },
              'print',
              'csv'
          ]
        } );
      </script>


{% endblock %}
