{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<style>
  .centrar-texto {
    text-align: center;
  }

  .form-container {
    background-color: #008080; /* Color teal */
    padding: 20px;
    border-radius: 10px;
  }

  .btn-container {
    margin-top: 20px;
    text-align: center;
  }

  .table-container {
    margin-top: 30px;
  }

  .image-preview {
    max-height: 50px;
  }
  table{
    border:3px solid blue !important;
  }
  label.error{
    color:red;
    font-weight: bold;
  }
  .imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece el contenedor al 100% de la altura visible */
  }

  /* Estilo para la imagen */
  .imagen {
    max-width: 100%; /* Hace que la imagen sea responsiva y no sobrepase su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }

  /* Ajusta el margen alrededor de la imagen si es necesario */
  /* .imagen-container {
    margin: 10px;
  } */
</style>

<h1 class="centrar-texto">LISTADO PROVINCIA</h1>

<div class="row">
  <div class="col-md-5 form-container">
    <form action="/guardarProvincia/" method="post" enctype="multipart/form-data" id="frm_nuevo_provincia">
      {% csrf_token %}

      <div class="mb-3">
        <label for="nombre_ac" class="form-label">Nombre</label>
        <input type="text" name="nombre_ac" id="nombre_ac" placeholder="Ingrese el nombre" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="capital_ac" class="form-label">Capital</label>
        <input type="text" name="capital_ac" id="capital_ac" placeholder="Ingrese la capital" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="region_ac" class="form-label">Región</label>
        <input type="text" name="region_ac" id="region_ac" placeholder="Ingrese la región" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="descripcion_ac" class="form-label">Descripción</label>
        <input type="text" name="descripcion_ac" id="descripcion_ac" placeholder="Ingrese la descripción" class="form-control" required>
      </div>

      <div class="btn-container">
        <button type="submit" name="button" class="btn btn-success">Guardar</button>
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="col-md-7 table-container">
    <br>
    <table class="table" id="tbl_provincias">
      <div class="d-flex justify-content-center align-items-center">
        <img class="imagen img-fluid" src="{% static 'img/ecua.png' %}" alt="" style="max-width: 800px; height: auto;">
      </div>
      <thead>
        <br>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>CAPITAL</th>
          <th>REGIÓN</th>
          <th>DESCRIPCIÓN</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        {% for provincia in provincias %}
        <tr>
          <td>{{ provincia.id_ac }}</td>
          <td>{{ provincia.nombre_ac }}</td>
          <td>{{ provincia.descripcion_ac }}</td>
          <td>{{ provincia.capital_ac }}</td>
          <td>{{ provincia.region_ac}}</td>

          <td>
            <a href="/editarProvincia/{{ provincia.id_ac }}" class="btn btn-warning">Editar</a>
            <a href="javascript:void(0)" onclick="eliminarProvincia('/eliminarProvincia/{{ provincia.id_ac }}');" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  function eliminarProvincia(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar la provincia seleccionada?',
      position: 'center',
      buttons: [
        ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href = url;
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }
</script>
<script type="text/javascript">
  // Agrega la regla personalizada 'lettersonly' para permitir solo letras
  $.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
  }, "Ingrese solo letras en este campo");

  // Inicializa el plugin de validación para el formulario
  $("#frm_nuevo_provincia").validate({
    rules: {
      "nombre_ac": {
        required: true,
        lettersonly: true
      },
      "descripcion_ac": {
        required: true,
        lettersonly: true

      },
      "capital_ac": {
        required: true,
        lettersonly: true

      },
      "region_ac": {
        required: true,
        lettersonly: true

      }
    },
    messages: {
      "nombre_ac": {
        required: "Debe ingresar el nombre de la provincia",
        lettersonly: "Ingrese solo letras en este campo"
      },
      "descripcion_ac": {
        required: "Debe ingresar la descripción de la provincia"
      },
      "capital_ac": {
        required: "Debe ingresar la capital de la provincia"
      },
      "region_ac": {
        required: "Seleccione la región de la provincia"
      }
    }
  });
</script>

  <script type="text/javascript">
  $('#tbl_provincias').DataTable({
    "language": {
      "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
    },
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'pdfHtml5',
        messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
      },
      'print',
      'csv'
    ]
  });
  </script>
  {%endblock%}
