{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<style>
  .centrar-texto {
    text-align: center;
  }

  .form-container {
    background-color: #008080; /* Color teal */
    padding: 20px;
    border-radius: 10px;
  }

  .btn-container {
    margin-top: 20px;
    text-align: center;
  }

  .table-container {
    margin-top: 30px;
  }

  .image-preview {
    max-height: 50px;
  }
  table{
    border:3px solid blue !important;
  }
  label.error{
    color:red;
    font-weight: bold;
  }
  .imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece el contenedor al 100% de la altura visible */
  }

  /* Estilo para la imagen */
  .imagen {
    max-width: 100%; /* Hace que la imagen sea responsiva y no sobrepase su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }

  /* Ajusta el margen alrededor de la imagen si es necesario */
  /* .imagen-container {
    margin: 10px;
  } */
</style>

<h1 class="centrar-texto">LISTADO DE PEDIDOS</h1>

<div class="row">
    <div class="col-md-5 form-container">
        <form action="/guardarPedido/" method="post" enctype="multipart/form-data"  id="frm_nuevo_pedido">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_cliente" class="form-label">Seleccione el Cliente</label>
                <select class="form-control" name="id_cliente" required>
                    <option value="">--SELECCIONE EL CLIENTE--</option>
                    {% for cliente in clientes %}
                        <option value="{{cliente.id_ac}}">
                            {{cliente.nombre_ac}} - {{cliente.direccion_ac}}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="nombre_ac" class="form-label">Descripción</label>
                <input type="text" name="nombre_ac" id="nombre_ac" placeholder="Ingrese la descripción" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="fecha_pedido_ac" class="form-label">Fecha del Pedido</label>
                <input type="date" name="fecha_pedido_ac" id="fecha_pedido_ac" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="total_ac" class="form-label">Total</label>
                <input type="number" name="total_ac" id="total_ac" placeholder="Ingrese el total" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="observaciones_ac" class="form-label">Observaciones</label>
                <input type="text" name="observaciones_ac" id="observaciones_ac" placeholder="Ingrese las observaciones" class="form-control" required>
            </div>

            <div class="btn-container">
                <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    </div>

    <div class="col-md-7 table-container">
        <br>
        <table class="table" id="tbl_pedidos">
          <div class="d-flex justify-content-center align-items-center">
            <img class="imagen img-fluid" src="{% static 'img/pedi.png' %}" alt="" style="max-width: 800px; height: auto;">
          </div>
            <thead>
                <br>
                <tr>
                    <th>ID</th>
                    <th>FECHA PEDIDO</th>
                    <th>TOTAL</th>
                    <th>OBSERVACIONES</th>
                    <th>DESCRIPCIÓN</th>
                    <th>CLIENTE</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>

            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.id_ac }}</td>
                        <td>{{ pedido.fecha_pedido_ac }}</td>
                        <td>{{ pedido.total_ac }}</td>
                        <td>{{ pedido.observaciones_ac }}</td>
                        <td>{{ pedido.nombre_ac }}</td>
                        <td>{{ pedido.cliente_ac.nombre_ac }}</td>
                        <td>
                            <a href="/editarPedido/{{ pedido.id_ac }}" class="btn btn-warning">Editar</a>
                            <a href="javascript:void(0)" onclick="eliminarPedido('/eliminarPedido/{{ pedido.id_ac }}');" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function eliminarPedido(url) {
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el pedido seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href = url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>
<script type="text/javascript">
  $.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
  }, "Ingrese solo letras en este campo");

  $("#frm_nuevo_pedido").validate({
    rules: {
      "id_provincia": {
        required: true
      },
      "nombre_ac": {
        required: true,
        lettersonly: true

      },
      "total_ac": {
        required: true,
        number: true
      },
      "fecha_pedido_ac": {
        required: true,
        date: true
      },
      "observaciones_ac": {
        required: true,
        lettersonly: true

      }
    },
    messages: {
      "id_provincia": {
        required: "Por favor, seleccione la provincia"
      },
      "nombre_ac": {
        required: "Debe ingresar el nombre del pedido",
        lettersonly: "Ingrese solo letras"

      },
      "total_ac": {
        required: "Debe ingresar el total del pedido",
        number: "Debe ingresar solo números para el total"
      },
      "fecha_pedido_ac": {
        required: "Debe ingresar la fecha del pedido",
        date: "Ingrese una fecha válida"
      },
      "observaciones_ac": {
        required: "Debe ingresar las observaciones del pedido",
        lettersonly: "Ingrese solo letras"

      }
    }
  });
</script>

    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_pedidos').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE PEDIDO - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>

{% endblock %}
