{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<style>
  .centrar-texto {
    text-align: center;
  }

  .form-container {
    background-color: #008080; /* Color teal */
    padding: 20px;
    border-radius: 10px;
  }

  .btn-container {
    margin-top: 20px;
    text-align: center;
  }

  .table-container {
    margin-top: 30px;
  }

  .image-preview {
    max-height: 50px;
  }
  table{
    border:3px solid blue !important;
  }
  label.error{
    color:red;
    font-weight: bold;
  }
  .imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece el contenedor al 100% de la altura visible */
  }

  /* Estilo para la imagen */
  .imagen {
    max-width: 100%; /* Hace que la imagen sea responsiva y no sobrepase su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }

  /* Ajusta el margen alrededor de la imagen si es necesario */
  /* .imagen-container {
    margin: 10px;
  } */
</style>

<h1 class="centrar-texto">LISTADO DE PLATILLOS</h1>

<div class="row">
  <div class="col-md-5 form-container">
    <form action="/guardarPlatillo/" method="post" enctype="multipart/form-data" id="frm_nuevo_platillo">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_tipo" class="form-label">Seleccione el Tipo</label>
        <select class="form-control" name="id_tipo" required>
          <option value="">--SELECCIONE EL TIPO</option>
          {% for tipo in tipos %}
          <option value="{{tipo.id_ac}}">
            {{tipo.nombre_ac}} - {{tipo.descripcion_ac}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="nombre_ac" class="form-label">Nombre</label>
        <input type="text" name="nombre_ac" id="nombre_ac" placeholder="Ingrese el nombre" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="descripcion_ac" class="form-label">Descripción</label>
        <input type="text" name="descripcion_ac" id="descripcion_ac" placeholder="Ingrese la descripción" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="calorias_ac" class="form-label">Calorías</label>
        <input type="number" name="calorias_ac" id="calorias_ac" placeholder="Ingrese las calorías" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="fotografia_ac" class="form-label">Fotografía</label>
        <input type="file" name="fotografia_ac" accept="image/*" id="fotografia_ac" class="form-control" required>
      </div>

      <div class="btn-container">
        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="col-md-7 table-container">
    <br>
    <table class="table" id="tbl_platillos">
      <div class="d-flex justify-content-center align-items-center">
        <img class="imagen img-fluid" src="{% static 'img/plat.png' %}" alt="" style="max-width: 800px; height: auto;">
      </div>
      <thead>
        <br>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>DESCRIPCIÓN</th>
          <th>CALORÍAS</th>
          <th>TIPO</th>
          <th>FOTOGRAFÍA</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        {% for platillo in platillos %}
        <tr>
          <td>{{ platillo.id_ac }}</td>
          <td>{{ platillo.nombre_ac }}</td>
          <td>{{ platillo.descripcion_ac }}</td>
          <td>{{ platillo.calorias_ac }}</td>
          <td>{{ platillo.tipo_ac.nombre_ac }}</td>
          <td>
            {% if platillo.fotografia_ac %}
            <a href="{{platillo.fotografia_ac.url}}" target="_blank">
              <img src="{{platillo.fotografia_ac.url}}" alt="" height="50px"></a>
            {% else %}
            <b>N/A</b>
            {% endif %}
          </td>
          <td>
            <a href="/editarPlatillo/{{ platillo.id_ac }}" class="btn btn-warning">Editar</a>
            <a href="javascript:void(0)" onclick="eliminarPlatillo('/eliminarPlatillo/{{ platillo.id_ac }}');" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  function eliminarPlatillo(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el platillo seleccionado?',
      position: 'center',
      buttons: [
        ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href = url;
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }
</script>
<script type="text/javascript">
  $.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
  }, "Ingrese solo letras en este campo");

  $("#frm_nuevo_platillo").validate({
    rules: {
      "id_tipo": {
        required: true
      },
      "nombre_ac": {
        required: true,
        lettersonly: true

      },
      "descripcion_ac": {
        required: true,
        lettersonly: true

      },
      "calorias_ac": {
        required: true,
        number: true
      },
      "fotografia_ac": {
        required: true
      }
    },
    messages: {
      "id_tipo": {
        required: "Por favor, seleccione el tipo"
      },
      "nombre_ac": {
        required: "Debe ingresar el nombre del platillo",
        lettersonly: "Ingrese solo letras"

      },
      "descripcion_ac": {
        required: "Debe ingresar la descripción del platillo",
        lettersonly: "Ingrese solo letras"

      },
      "calorias_ac": {
        required: "Debe ingresar las calorías del platillo",
        number: "Debe ingresar solo números para las calorías"
      },
      "fotografia_ac": {
        required: "Seleccione la fotografía del platillo"
      }
    }
  });
</script>



    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_platillos').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>


{% endblock %}
