{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<style>
  .centrar-texto {
    text-align: center;
  }

  .form-container {
    background-color: #008080; /* Color teal */
    padding: 20px;
    border-radius: 10px;
  }

  .btn-container {
    margin-top: 20px;
    text-align: center;
  }

  .table-container {
    margin-top: 30px;
  }

  .image-preview {
    max-height: 50px;
  }

  table {
    border: 3px solid blue !important;
  }

  label.error {
    color: red;
    font-weight: bold;
  }
  .imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece el contenedor al 100% de la altura visible */
  }

  /* Estilo para la imagen */
  .imagen {
    max-width: 100%; /* Hace que la imagen sea responsiva y no sobrepase su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }

  /* Ajusta el margen alrededor de la imagen si es necesario */
  /* .imagen-container {
    margin: 10px;
  } */
</style>

<h1 class="centrar-texto">LISTADO DE DETALLES</h1>

<div class="row">
  <div class="col-md-5 form-container">
    <form action="/guardarDetalle/" method="post" id="frm_nuevo_detalle">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_pedido" class="form-label">Seleccione el Pedido</label>
        <select class="form-control" name="id_pedido" required>
          <option value="">--SELECCIONE EL PEDIDO--</option>
          {% for pedido in pedidos %}
          <option value="{{pedido.id_ac}}">
            {{pedido.fecha_pedido_ac}} - {{pedido.observaciones_ac}} - {{pedido.cliente_ac.nombre_ac}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="id_platillo" class="form-label">Seleccione el Platillo</label>
        <select class="form-control" name="id_platillo" required>
          <option value="">--SELECCIONE EL PLATILLO--</option>
          {% for platillo in platillos %}
          <option value="{{platillo.id_ac}}">
            {{platillo.nombre_ac}} - {{platillo.precio_ac}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="cantidad_ac" class="form-label">Cantidad</label>
        <input type="number" name="cantidad_ac" id="cantidad_ac" placeholder="Ingrese la cantidad" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="precio_unitario_ac" class="form-label">Precio unitario</label>
        <input type="number" name="precio_unitario_ac" id="precio_unitario_ac" placeholder="Ingrese el precio por unidad" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="subtotal_ac" class="form-label">Subtotal</label>
        <input type="number" name="subtotal_ac" id="subtotal_ac" placeholder="Ingrese el subtotal" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="comentarios_ac" class="form-label">Comentarios</label>
        <input type="text" name="comentarios_ac" id="comentarios_ac" placeholder="Ingrese los comentarios" class="form-control" required>
      </div>

      <div class="btn-container">
        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="col-md-7 table-container">
    <br>
    <table class="table" id="tbl_detalle">
      <div class="d-flex justify-content-center align-items-center">
        <img class="imagen img-fluid" src="{% static 'img/tipos.png' %}" alt="" style="max-width: 800px; height: auto;">
      </div>
          <thead>
        <br>
        <tr>
          <th>ID</th>
          <th>CANTIDAD</th>
          <th>PRECIO POR UNIDAD</th>
          <th>SUBTOTAL</th>
          <th>COMENTARIOS</th>
          <th>PEDIDO</th>
          <th>PLATILLO</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        {% for detalle in detalles %}
        <tr>
          <td>{{ detalle.id_ac }}</td>
          <td>{{ detalle.cantidad_ac }}</td>
          <td>{{ detalle.precio_unitario_ac }}</td>
          <td>{{ detalle.subtotal_ac }}</td>
          <td>{{ detalle.comentarios_ac }}</td>
          <td>{{ detalle.pedido_ac.nombre_ac }}</td>
          <td>{{ detalle.platillo_ac.nombre_ac }}</td>
          <td>
            <a href="/editarDetalle/{{ detalle.id_ac }}" class="btn btn-warning">Editar</a>
            <a href="javascript:void(0)" onclick="eliminarDetalle('/eliminarDetalle/{{ detalle.id_ac }}');" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  function eliminarDetalle(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el detalle seleccionado?',
      position: 'center',
      buttons: [
        ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href = url;
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }
</script>
<script type="text/javascript">
  $.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
  }, "Ingrese solo letras en este campo");

  $("#frm_nuevo_detalle").validate({
    rules: {
      "id_pedido": {
        required: true
      },
      "id_platillo": {
        required: true
      },
      "cantidad_ac": {
        required: true,
        number: true
      },
      "precio_unitario_ac": {
        required: true,
        number: true
      },
      "subtotal_ac": {
        required: true,
        number: true
      },
      "comentarios_ac": {
        required: true
      }
    },
    messages: {
      "id_pedido": {
        required: "Por favor, seleccione el pedido"
      },
      "id_platillo": {
        required: "Por favor, seleccione el platillo"
      },
      "cantidad_ac": {
        required: "Debe ingresar la cantidad del pedido",
        number: "Ingrese solo números para la cantidad"
      },
      "precio_unitario_ac": {
        required: "Debe ingresar el precio unitario del pedido",
        number: "Ingrese solo números para el precio unitario"
      },
      "subtotal_ac": {
        required: "Debe ingresar el subtotal del pedido",
        number: "Ingrese solo números para el subtotal"
      },
      "comentarios_ac": {
        required: "Debe ingresar los comentarios del pedido"
      }
    }
  });
</script>

<script type="text/javascript">
  $('#tbl_detalle').DataTable({
    "language": {
      "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
    },
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'pdfHtml5',
        messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
      },
      'print',
      'csv'
    ]
  });
</script>

{% endblock %}
