{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<style>
  .centrar-texto {
    text-align: center;
  }

  .form-container {
    background-color: #008080; /* Color teal */
    padding: 20px;
    border-radius: 10px;
  }

  .btn-container {
    margin-top: 20px;
    text-align: center;
  }

  .table-container {
    margin-top: 30px;
  }

  .image-preview {
    max-height: 50px;
  }
  table{
    border:3px solid blue !important;
  }
  label.error{
    color:red;
    font-weight: bold;
  }
  /* Estilo para el contenedor de la imagen */
.imagen-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Establece el contenedor al 100% de la altura visible */
}

/* Estilo para la imagen */
.imagen {
  max-width: 100%; /* Hace que la imagen sea responsiva y no sobrepase su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 5px; /* Añade esquinas redondeadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

/* Ajusta el margen alrededor de la imagen si es necesario */
/* .imagen-container {
  margin: 10px;
} */

</style>

<h1 class="centrar-texto">LISTADO DE TIPO </h1>

<div class="row">
  <div class="col-md-5 form-container">
    <form class="" action="/guardarTipo/" method="post" enctype="multipart/form-data" id="frm_nuevo_tipo">
      {% csrf_token %}

      <div class="mb-3">
        <label for="nombre_ac" class="form-label">Nombre</label>
        <input type="text" name="nombre_ac" id="nombre_ac" class="form-control" placeholder="Ingrese el nombre" required>
      </div>

      <div class="mb-3">
        <label for="descripcion_ac" class="form-label">Descripción</label>
        <input type="text" name="descripcion_ac" id="descripcion_ac" class="form-control" placeholder="Ingrese la descripción" required>
      </div>

      <div class="mb-3">
        <label for="fecha_creacion_ac" class="form-label">Fecha de Creación</label>
        <input type="date" name="fecha_creacion_ac" id="fecha_creacion_ac" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="fotografia_ac" class="form-label">Fotografía</label>
        <input type="file" name="fotografia_ac" accept="image/*" id="fotografia_ac" class="form-control">
      </div>

      <div class="btn-container">
        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="col-md-7 table-container">
    <table class="table" id="tbl_tipos">
      <div class="d-flex justify-content-center align-items-center">
        <img class="imagen img-fluid" src="{% static 'img/tipos.png' %}" alt="" style="max-width: 800px; height: auto;">
      </div>
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>DESCRIPCIÓN</th>
          <th>FECHA DE CREACIÓN</th>
          <th>FOTOGRAFÍA</th>
          <th>ACCIONES</th>
        </tr>
      </thead>

      <tbody>
        {% for tipo in tipos %}
          <tr>
            <td>{{tipo.id_ac}}</td>
            <td>{{tipo.nombre_ac}}</td>
            <td>{{tipo.descripcion_ac}}</td>
            <td>{{tipo.fecha_creacion_ac}}</td>
            <td>
              {% if tipo.fotografia_ac %}
                <a href="{{tipo.fotografia_ac.url}}" target="_blank">
                  <img src="{{tipo.fotografia_ac.url}}" alt="" class="image-preview">
                </a>
              {% else %}
                <b>N/A</b>
              {% endif %}
            </td>
            <td>
              <a href="/editarTipo/{{tipo.id_ac}}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)"
                onclick="eliminarTipo('/eliminarTipo/{{tipo.id_ac}}');"
                class="btn btn-danger">
                Eliminar
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  function eliminarTipo(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
        ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href = url;
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }
</script>
<script type="text/javascript">
  // Añadir regla personalizada para validar que la fecha no sea en el futuro
  $.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
  }, "Ingrese solo letras en este campo");
  // Configuración de la validación del formulario
  $("#frm_nuevo_tipo").validate({
    rules: {
      "nombre_ac": {
        required: true,
        lettersonly: true
      },
      "descripcion_ac": {
        required: true,
        lettersonly: true

      },
      "fecha_creacion_ac": {
        required: true,
        date: true,
        notFutureDate: true
      },
      "fotografia": {
        required: true
      }
    },
    messages: {
      "nombre_ac": {
        required: "Ingresar el nombre del Tipo",
        lettersonly: "Ingrese solo letras"
      },
      "descripcion_ac": {
        required: "Ingresar la descripcion",
        lettersonly: "Ingrese solo letras"

      },
      "fecha_creacion_ac": {
        required: "Ingrese una fecha valida",
        date: "Ingrese una fecha valida",
        notFutureDate: "LA FECHA NO PUEDE SER MAYOR A LA ACTUAL"
      },
      "fotografia": {
        required: "Seleccione la Fotografia"
      }
    }
  });
</script>

<script type="text/javascript">
  $('#tbl_tipos').DataTable({
    "language": {
      "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
    },
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'pdfHtml5',
        messageTop: 'REPORTE DE TIPOS - DJANGO Y DATATABLES.'
      },
      'print',
      'csv'
    ]
  });
</script>



{% endblock %}
