{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<style>
  .centrar-texto {
    text-align: center;
  }

  .form-container {
    background-color: #008080; /* Color teal */
    padding: 20px;
    border-radius: 10px;
  }

  .btn-container {
    margin-top: 20px;
    text-align: center;
  }

  .table-container {
    margin-top: 30px;
  }

  .image-preview {
    max-height: 50px;
  }
  table{
    border:3px solid blue !important;
  }
  label.error{
    color:red;
    font-weight: bold;
  }
  .imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece el contenedor al 100% de la altura visible */
  }

  /* Estilo para la imagen */
  .imagen {
    max-width: 100%; /* Hace que la imagen sea responsiva y no sobrepase su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }

  /* Ajusta el margen alrededor de la imagen si es necesario */
  /* .imagen-container {
    margin: 10px;
  } */
</style>
<h1 class="centrar-texto">LISTADO DE CLIENTES</h1>

<div class="row">
  <div class="col-md-5 form-container">
    <form action="/guardarCliente/" method="post" enctype="multipart/form-data"  id="frm_nuevo_cliente">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_provincia" class="form-label">Provincia:</label>
        <select class="form-control" name="id_provincia" required>
          <option value="">-- SELECCIONE EL PROVINCIA --</option>
          {% for provincia in provincias %}
            <option value="{{ provincia.id_ac }}">
              {{ provincia.nombre_ac }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="nombre_ac" class="form-label">Nombre:</label>
        <input type="text" name="nombre_ac" id="nombre_ac" placeholder="Ingrese el nombre" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="direccion_ac" class="form-label">Dirección:</label>
        <input type="text" name="direccion_ac" id="direccion_ac" placeholder="Ingrese la dirección" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="correo_ac" class="form-label">Correo:</label>
        <input type="email" name="correo_ac" id="correo_ac" placeholder="Ingrese el correo" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="telefono_ac" class="form-label">Teléfono:</label>
        <input type="number" name="telefono_ac" id="telefono_ac" placeholder="Ingrese el teléfono" class="form-control" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="col-md-7 table-container">
    <br>
    <table class="table"   id="tbl_clientes">
      <div class="d-flex justify-content-center align-items-center">
        <img class="imagen img-fluid" src="{% static 'img/cliente.png' %}" alt="" style="max-width: 800px; height: auto;">
      </div>
      <br>
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>DIRECCION</th>
          <th>CORREO</th>
          <th>TELEFONO</th>
          <th>PROVINCIA</th>
          <th>ACCIONES</th>
        </tr>
      </thead>

      <tbody>
        {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.id_ac }}</td>
            <td>{{ cliente.nombre_ac }}</td>
            <td>{{ cliente.direccion_ac }}</td>
            <td>{{ cliente.correo_ac }}</td>
            <td>{{ cliente.telefono_ac }}</td>
            <td>{{ cliente.provincia_ac.nombre_ac }}</td>

            <td>
              <a href="/editarCliente/{{ cliente.id_ac }}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)" onclick="eliminarCliente('/eliminarCliente/{{ cliente.id_ac }}');" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  function eliminarCliente(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
        ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href = url;
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }
</script>
<script type="text/javascript">
  $.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-zA-Z]+$/i.test(value);
  }, "Ingrese solo letras en este campo");

  $("#frm_nuevo_cliente").validate({
    rules: {
      "id_provincia": {
        required: true
      },
      "nombre_ac": {
        required: true,
        lettersonly: true
      },
      "correo_ac": {
        required: true,
        email: true
      },
      "direccion_ac": {
        required: true
      },
      "telefono_ac": {
        required: true,
        number: true
      }
    },
    messages: {
      "id_provincia": {
        required: "Por favor, seleccione la provincia"
      },
      "nombre_ac": {
        required: "Debe ingresar el nombre del cliente",
        lettersonly: "Ingrese solo letras"
      },
      "correo_ac": {
        required: "Debe ingresar el correo del cliente",
        email: "Ingrese un correo electrónico válido"
      },
      "direccion_ac": {
        required: "Debe ingresar la dirección del cliente"
      },
      "telefono_ac": {
        required: "Debe ingresar el teléfono del cliente",
        number: "Ingrese solo números para el teléfono"
      }
    }
  });
</script>


    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_clientes').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
      </script>


{% endblock %}
