{% load static %}
<!DOCTYPE html>
<html lang="s" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- Importación de jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">

    <!-- Importación de jQuery Validate -->
    <script type="text/javascript" src="{% static 'librerias/jquery-validate/jquery.validate.js' %}"></script>

    <!-- Importación de IziToast -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Importación de DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <!-- Importación de DataTables - Idioma Español -->
    <script src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

    <title></title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Provincia</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/listadoClientes/">Cliente</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/listadoTipos/">Tipo</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/listadoPlatillos/">Platillo</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/listadoPedidos/">Pedido</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/listadoDetalles/">Detalle</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/listadoIngredientes/">Ingredientes</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/listadoRecetas/">Receta</a>
                  </li>
              </ul>
              <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                  <button class="btn btn-outline-light" type="submit">Buscar</button>
              </form>
          </div>
      </div>
  </nav>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
          // Obtener todos los elementos de la lista del menú
          var menuItems = document.querySelectorAll('.navbar-nav .nav-item');

          // Agregar un evento de clic a cada elemento de la lista
          menuItems.forEach(function (menuItem) {
              menuItem.addEventListener('click', function () {
                  // Quitar la clase 'active' de todos los elementos de la lista
                  menuItems.forEach(function (item) {
                      item.classList.remove('active');
                  });

                  // Agregar la clase 'active' al elemento de la lista que fue clicado
                  this.classList.add('active');
              });
          });
      });
  </script>


    <div class="container">
        {% block contenido %}
        {% endblock %}
    </div>

<br><br><br>
    <footer class="footer mt-auto py-3 bg-red text-white">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h4>Contacto</h4>
                <p>Dirección: Cotopaxi</p>

            </div>
            <div class="col-md-6">
                <h4>Síguenos</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white">Facebook</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Twitter</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <p class="text-muted"> Gestion de Restaurante..</p>
    </div>
    </footer>





    {% if messages %}
        {% for mensaje in messages %}
            <script type="text/javascript">
                iziToast.success({
                    title: 'Éxito',
                    message: '{{mensaje}}',
                    position: 'topLeft',
                });
            </script>
        {% endfor %}
    {% endif %}
</body>

</html>
