table{
  border: 3px solid black !important;

}

/*estilos para personalizar jquery validate*/
label.error{
  color:red;
  font-weight: bold;
}

input.error, select.error, textarea.error{
  border: 1px solid red;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
footer {
position: static;
bottom: 0;
width: 100%;
background-color: lightblue;
color: #fff;
padding: 50px;
text-align: center;
}
